html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: #f3f3f3;
  overflow: hidden;
}

.navbar {
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 10vh;
  background-color: white;
}

.navbar .icons {
  position: absolute;
  left: 80%;
  padding: 0%;
  margin: 0%;
  width: 20vw;
  height: 10vh;
  background-color: white;
  justify-content: center;
}

.icons {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 1.5em 0;
}

.logo-1 {
  background: url(/pngs/logo.png) no-repeat center center;
  background-size: cover;

  width: 50px;
  height: 50px;
  height: 50px;
  position: absolute;
  top: 48.95px;
  left: 50%;
  transform: translate(-50%);
}

.footer {
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 10vh;
  background-color: black;
  position: bottom;
}

.image-1 {
  background: url(/pngs/logo.png) no-repeat center center;
  background-size: cover;
}

.image-1 {
  width: 512px;
  height: 512px;
}

.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 80vh;
  justify-content: center;
  /*background-color: blue;*/
  background: url('background.png') no-repeat center center;
  background-size: cover;
}
